<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="post">
        <input name="email" placeholder="email" type="email" />
        <br />
        <input name="username" placeholder="username" type="text" />
        <br />
        <input name="password" placeholder="password" type="password"/>
        <br />
        <button>Register</button>
        
    </form>
    <a href="/login">Have an account? Login</a>
</body>
</html>